DB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?appName=AppName
DB_NAME=your_db_name
PORT=5038

API_HOST=localhost
API_PORT=5038

TMDB_API_KEY=your_tmdb_api_key
RAWG_API_KEY=your_rawg_api_key
TRAKT_CLIENT_ID=your_trakt_client_id
